@page
@model VitecMVPrivat.Models.CreateUserModel
@{
    ViewData["Title"] = "Error";
}
<div style="text-align:center;">
    <h1>Betaling</h1>
    <input type="CardName" placeholder="Navn" /> <br/>
    <input type="CardNumber" placeholder="Number"/> <br/>
    <p>Udløbs dato</p>
<input type="Year" placeholder="År"maxlength="4" size="4"/>
<input type="Month" placeholder="Måned"maxlength="4" size="4"/><br/><br/>
<p>Abonnement Kort</p>
<label for="male">4250 4500 9999 9999</label>
</div>
<form method="get" action="/UserHomePage">
<button type="submit">Tilbage</button>
</form>
