@page
@model VitecMVPrivat.Models.CreateUserModel
@{
    ViewData["Title"] = "Error";
}
<h1>Opret bruger</h1>
<input type="userName" placeholder="Brugernavn"/> <br>
<input type="password" placeholder="Kode"/> <br>
<input type="email" placeholder="Email"/> <br>
<input type="checkbox" name="Check" value="Check"> Accept policy<br>
<form method="get" action="/Index">
<button type="submit">Opret</button>
</form>
