@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href=""

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Information om Vitec MV privat produkt her.</p>
    <p>Video Guide her</p>
    <form method="get" action="/Createuser">
    <button type="submit">Opret dig som bruger her</button>
    </form>
</div>
