@page
@model VitecMVPrivat.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<p>Brugernavn</p>
<input type="email" placeholder="Email"/>

<input type="password" placeholder="Kodeord"/>
