@page
@model VitecMVPrivat.Pages.UserHomePageModel
@{
    ViewData["Title"] = "UserHomePage";
    Layout = "UserHomePageLayout";
}

<h1>Velkommen @User</h1>

<h2>Kom i gang med at bruge programmet</h2>

<h3>Information om dit abbonement</h3>

<h4>Support</h4>

